@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: white;
    font-weight: 600;
}

body {
    font-family: 'Poppins', sans-serif;
    background: url('assets/bg.jpg') no-repeat center center/cover;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    z-index: 0;
}

.regular-txt {
    font-weight: 400;
}

.main-container {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 350px;
    padding: 20px;
    background: linear-gradient (
        to top, rgb(0, 0, 0, 0.15),
        rgb(255, 255, 255, 0.15)
    );
    border-radius: 12px;
    backdrop-filter: blur(100px);
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.input-container {
    position: relative;
    margin-bottom: 8px;
}

.city-input {
    width: 100%;
    padding: 10px 16px;
    border-radius: 99px;
    border: 3px solid transparent;
    background: rgb(0, 0, 0, 0.15);
    outline: none;
    font-weight: 500;
    transition: 0.25s border;
    font-size: 16px;
    padding-right: 45px;
}

.city-input:focus {
    border-color: white;
    border: 3px solid rgb(0, 0, 0, 0.15);
}

.city-input::placeholder {
    color: rgb(255, 255, 255, 0.75);
}

.search-btn {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    border: none;
}

.weather-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    padding: 10px 0;
}

.location-date-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.location {
    display: flex;
    align-items: center;
    gap: 6px;
}

.weather-summary-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather-summary-img {
    width: 120px;
    height: 120px;
}

.weather-summary-info {
    text-align: end;
}

.weather-conditions-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.condition-item {
    display: flex;
    align-items: center;
    gap: 6px;
}

.condition-item span {
    font-size: 30px;
}

.forecast-items-container {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    padding-bottom: 12px;
}

.forecast-items-container::-webkit-scrollbar {
    height: 8px;
}

.forecast-items-container::-webkit-scrollbar-track{
    background: rgb(0, 0, 0, 0.1);
    border-radius: 99px;
}

.forecast-items-container::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0, 0.15);
    border-radius: 99px;
}

.forecast-item {
    min-width: 70px;
    background: rgb(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 10px;
    align-items: center;
    border-radius: 12px;
    transition: 0.3s background;
}

.forecast-item-img {
    width: 35px;
    height: 35px;
}

.forecast-item:hover {
    background: rgb(255, 255, 255, 0.15);
}

.section-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20%;
    margin-bottom: 20%;
}

.section-message img {
    height: 150px;
}

@media screen and (max-width: 768px) {
    .main-container {
        max-width: 90%;
    }

    .forecast-items-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .forecast-item {
        flex: 1 1 calc(50% - 10px);
        min-width: calc(50% - 10px);
    }
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    font-size: 30px; 
    display: inline-block;
    vertical-align: middle;
}

